
<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">

    <div class="panel-heading">
      <h1>Contacts</h1>
      <ul class="panel pull-right">
      <button type="button" class="btn btn-success">NewContact
      <span class = "caret"></span></button>
      </ul>
    </div>
      <hr>
  <div class="panel-body">
    <app-contact-item
        *ngFor="let contact of contacts"
        [contact]= "contact"
        (click)="onSelected(contact)">
      </app-contact-item>
  </div>
</div>
</div>
</div>

